<p>data-binding works!</p>
<div class="row">
    <div class="col-3" style="text-align: center;">
        one way data-Binding
    </div>
    <div class="col-3">

    </div>

</div>

<div class="row">
    <div class="col-4">
        interpolation
        <div class="row">
            <div class="col-4">
                <h4>{{courseName}}</h4>
                <div>{{inputType}}</div>
                <input type="text " value="{{courseName}}" placeholder="Enter Here.....">
                
            </div>
        </div>
    </div>
    <div class="col-4">
        Property Binding
        <div [class]="myClassName">Danger</div>
        <input type="text" [value]="currentDate"/>
        <input [type]="inputType"/>
    </div>
    <div class="col-4">
        <button class="btn btn-success" (click)="showAlert()">show Message</button>
        <button class="btn btn-success" (click)="changecourseName()">ChageMess</button>

        <span (click)="showAlert()">Clickme</span>
    </div>
    <div class="col-4">
        <input type="text" [(ngModel)]="courseName" /> - {{courseName}}
        <input type="checkbox" [(ngModel)]="isIndian" />

        <select [(ngModel)]="state">
        <option value="">select</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="kar">kar</option>
        <option value="goa">goa</option>
        <option value="kerala">kerala</option>
        <option value="UP">UP</option>

    </select>
    </div>
    <div class="col-6">
        <h2>{{firstName()}}</h2>
    </div>

    
</div>